<%= simple_form_for( @newsletter, htm: {class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="control-group">
    <%= f.label :title, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, class: 'span7', required: true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, class: 'span8', required: true %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
