<div class="row">
	<!-- <div class="span2 balance-slider">
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</div> -->
	<article class="span12">
		<div id="myCarousel" class="carousel slide">
		  <!-- Carousel items -->
		  <div class="carousel-inner">
			<% if @album.photos %>
			  <% @album.photos.each do |photo| %>
				<% 5.times do %>
			    <div class="item">
			    	<%= image_tag photo.name? ? photo.name_url : 'http://placehold.it/800x400', title: photo.caption,	width: "100%" %>
					<div class="carousel-caption">
						<%= markdown photo.caption %>
					</div>
				</div>
				<% end -%>
			  <% end %>
			<% else %>
			  <div class=" item">
			  	<%= image_tag "http://placehold.it/800x400", title: 'This is the slideshow place holder', width: "100%" %>
			  	<div class="carousel-caption">
			  		<h4>First Thumbnail label</h4>
			  		<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
			  	</div>
			  </div>
				<div class=" item"><%= image_tag "http://placehold.it/800x400", title: 'This is the slideshow place holder', width: "100%" %></div>
			<% end %>
		  </div>
		  <!-- Carousel nav -->
		  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
		<!--/ Carousel -->
	</article>
	
	<!-- <div class="span2 balance-slider">
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</div> -->
</div><!--/ row -->
<hr>

<header class="jumbotron masthead">
	<div class="row">
		<!-- <h1><small>Take your legs for a trek, safari or your soul on a soul-trek</small></h1> -->
		<!-- <h1>Bless Africa Tours and Safaris</h1>
		<p>Bless Africa Tours and Safaris is a locally owned Travel company based in Tanzania. The company specialises in providing organised Treks, Wildlife Safaris, Beach Trips and Day Trips from the town of Moshi, set in the foothills of Mount Kilimanjaro. </p> -->
		<!-- <p class="download-info">
			<%= link_to  "Mountain Trekking", :treks, class: "btn btn-primary btn-large" %>
			<%= link_to  "Wildlife Safaris", :safaris, class: "btn btn-primary btn-large" %>
			<%= link_to  "Beach Holidays", :beaches, class: "btn btn-primary btn-large" %> 
			<%= link_to  "Day trips", :day_trips, class: "btn btn-primary btn-large" %>
		</p> -->
		<div class="span3">
			<div class="alert">
				<h2 style="text-align:center;"><span class="visible-desktop">Mountain Treks</span><span class="visible-tablet visible-phone">Trekking</span></h2>
				<p>Summit Kilimanjaro <span class="visible-phone">guaranteed trip departing May 26th 2013</span></p>
				<p><strong>From &dollar;1600</strong> <br> departing May 26th 2013</p>
				<p><%= link_to  "Book Now!", :treks, class: "btn btn-warning btn-large" %></p>
			</div>
		</div>
		<div class="span3">
			<div class="alert alert-success">
				<h2 style="text-align:center;">Safaris</h2>
				<p>Witness a wildlife spectacular</p>
				<p><strong>From &dollar;300/day</strong> <br> Oct - Mar</p>
				<p><%= link_to  "Book Now!", :safaris, class: "btn btn-warning btn-large btn-block" %></p>
			</div>
		</div>
		<div class="span3">
			<div class="alert alert-info">
				<h2 style="text-align:center;">Beach Holidays</h2>
				<p>Sun, sea and seclusion</p>
				<p><strong>From &dollar;200/day</strong> <br> Oct - Mar</p>
				<p><%= link_to  "Book Now!", :beaches, class: "btn btn-warning btn-large" %></p>
			</div>
		</div>
		<div class="span3">
			<div class="alert alert-danger">
				<h2 style="text-align:center;">Day Trips</h2>
				<p><span class="visible-desktop">Taste some </span>Tanzanian delights</p>
				<p><strong>From &dollar;100/day</strong> <br> Oct - Mar</p>
				<p><%= link_to  "Book Now!", :day_trips, class: "btn btn-warning btn-large" %></p>
			</div>
		</div>
	</div>
	<div class="bs-links">
		<ul class="quick-links">
			<li class="btn"><%= link_to 'Facebook', 'http://www.facebook.com/blessafrica.tours', title: 'Bless-Africa-Tours  Facebook page', target: '_blank' %></li>
			<li class="btn"><%= link_to 'Twitter', 'https://twitter.com/blesstours', title: 'Bless Africa Tours and Safaris Twitter profile', target: '_blank' %></li>
			<li class="btn"><%= link_to 'Google+' , "https://plus.google.com/112391175372507967021/posts", title: "Google plus page", target: '_blank' %></li>
		</ul>
	</div>
</header>

<hr>

<div class="marketing">
	<div class="row">
		<div class="span6">
			<h2><%= link_to 'About us', '/about-us', title: 'About Us' %></h2>
			<p>Bless Africa Tours  and safaris is a locally owned Travel company based in Moshi. With over 6 years experience in the Trek and Travel industry and extensive local knowledge and links the company strives to add something extra to a visit to Tanzania.</p>
		</div>
		<div class="span6">
			<h2><%= link_to 'Accommodation', '/accommodation', title: 'Accommodation' %></h2>
			<p>Included are example of some of the hotels, lodges and camps that Bless Africa Tours  and Safaris may use for holiday accommodation on their organised trips.</p>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<h2><%= link_to 'Kit Hire', '/kit-hire', title: 'Hire Safaris and mountain Trekking kits' %></h2>
			<p>Bless Africa Tours and Safaris have an extensive supply of clothing and equipment available to hire for guests taking part in a Trekking holiday.</p>
		</div>
		<div class="span6">
			<h2><%= link_to 'Mountain Trekking', :treks, title: 'Mountain Trekking Tours' %></h2>
			<p>With over 6 years experience of supporting and leading  Treks on both Mt Meru and Mt Kilimanjaro,  the team at Bless Africa Tours and safaris are able to offer further advice on selecting the right Trek for our guests.</p>
		</div>
	</div>
	
	<div class="row">

		<div class="span6">
			<h2><%= link_to 'Safaris and Beach Holidays', :safaris, title: 'Safaris and Beach Holidays' %></h2>
			<p>Tanzania is blessed with some of the most amazing animal life in the world. Explore the beautiful National Parks, and then round off the trip of a lifetime with a visit to some of the most stunning beaches in Africa.</p>
		</div>
		<div class="span6">
			<h2><%= link_to 'Day Trips', :day_trips, title: 'Day Trips' %></h2>
			<p>Set within the foothills of Mount Kilimanjaro, and close to the National parks of Tanzania, Moshi is well placed to explore everything Tanzania has to offer from a Day Hike on Mount Kilimanjaro to the splendour of Arusha National Park.</p>
		</div>
	</div>
</div>