<%- model_class = Photo.new.class -%>
<h1>
<%=t '.title', :default => "Album: #{@album.title}" %> 

<% if can? :access, @photos %>
	<%= link_to "Add photo", new_album_photo_path( @album ), class: 'btn btn-primary pull-right' %>
<% end %>
</h1>

<hr>

<div id="myCarousel" class="carousel">
  <!-- Carousel items -->
  <div class="carousel-inner">
	<% @photos.each do |photo| %>
	<div class="item">
			<%= link_to image_tag(photo.name? ? photo.name_url : "http://placehold.it/260x180", width: "100%"), album_photo_path(@album, photo) %>
			<div class="carousel-caption">
				<h4>Album: <%= @album.title %></h4>
				<%= markdown photo.caption %>
			</div>
		</div>
	<% end %>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<% if can? :manage, @photos %>
<ul class="thumbnails">
	<% @photos.each do |photo| %>
		<li class="span3">
		<%= link_to image_tag(photo.name? ? photo.name_url(:thumb) : "http://placehold.it/260x180"), album_photo_path(@album, photo), class: "thumbnail" %>
		<br>
		<p><input type="url" value="<%= photo.name? ? photo.name_url(:thumb) : 'http://placehold.it/260x180' %> " select="select" class="image-link"></p>
		</li>
	<% end %>
</ul>
<% end %>

<!-- JS HELP WITH SELECTING THE URL -->
<script>
	$(document).ready( function() {
		$('input [type="url"]').focus();

		$('.image-link').click( function() {
			$(this).focus().select();
		}).click();
	});
</script>