
<%= render 'layouts/header' %>

    <div class="container">
      <div class="content">
        <div class="row">
           <div class="span9">
              <%= yield %>
            </div>
            <div class="span3">
              <div class="well sidebar-nav">
                <ul class="nav nav-list">
                  <li class="nav-header">Important links</li>
                  <li><%= link_to "Accommodation", :accommodation, title: 'Accommodation information' %></li>
                  <li><%= link_to "Important information", :important_information, title: 'Important information for tourists' %></li>
									<li><%= link_to "Guides and porters", :guides_and_porters, title: 'Our tour guides and porters' %></li>
                  <li><%= link_to "About Tanzania", :about_tanzania, title: 'About Tanzania' %></li>
									<li><%= link_to "Contact us", :contact_us, title: 'Contact Us' %></li> 
									<li><%= link_to "Newsletter", ':newsletters', title: 'Subscribe to our newsletter' %></li>
                  <li><%= link_to "About us", :about_us, title: 'About us' %></li>
                  <li><%= link_to "Galleries", :albums, title: 'Photo galleries' %></li>
									<li><%= link_to "Blog", :posts, title: 'Read the blog' %></li>
									
                </ul>
              </div><!--/.well -->
            </div><!--/span-->
        </div><!--/row-->
      </div><!--/content-->

<%= render 'layouts/footer' %>